@model IEnumerable<CoreLayer.Dtos.Shared.SharedListDto>

<div class="row">
    <fieldset style="border:1px solid black;border-radius:10px; margin-top:15px">
        <legend style="border:1px solid black; margin-top:10px;text-align:center;padding:20px;background-color:cornflowerblue;border-radius:10px">Yeni Paylaşım Oluştur</legend>

            <label for="title">Başlık</label>
            <input type="text" class="form-control" id="title" name="Title" />
            <br />
            <label for="file">Dosya Seç</label>
            <input type="file" id="file" class="form-control" name="File"/>
        <br/>
            <label for="description">Açıklama</label>
            <textarea class="form-control" rows="4" name="Description" id="description">
</textarea>
            <br />
        <label for="IsActive">Yayınla</label>
        <input type="checkbox" class="form-check" name="IsActive" id="isActive"/>
            <input type="submit" class="btn btn-primary mb-3" value="Paylaş" onclick="AddNewShared()" />

    </fieldset>
</div>
<div class="row mt-4">
    <h4>Önceki Gönderiler</h4>
    @foreach (var item in Model)
    {
        <div class="col-8 offset-2 mt-3" id="shared_@item.Id">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-4"> <a href="#">@item.Username</a>    @item.Title</div>
                        <div class="col-1 offset-6">
                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#myModal" onclick="getEditForm(@item.Id)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
                                </svg>
                            </button>
                            <div class="modal" id="myModal">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Gönderi Düzenle</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body" id="editSharedDiv">
                                            
                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Kapat</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                            <button type="button" class="btn btn-danger" onclick="sharedRemove(@item.Id)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"></path>
                                </svg>
                            </button>
                        </div>

                    </div>
                   
                </div>
                <div class="card-body" style="text-align:center">
                    @if (item.Type == CoreLayer.Enum.EFileType.Text)
                    {
                        <p>
                            @item.Description
                        </p>
                    }
                    else if (item.Type == CoreLayer.Enum.EFileType.Image)
                    {
                        <img src="~/Content/images/@item.Path" width="100%" height="200" />
                    }
                    else if (item.Type == CoreLayer.Enum.EFileType.Video)
                    {
                        <video width="360" height="320" controls="controls">
                            <source src="~/Content/videos/@item.Path" type="video/mp4" />
                        </video>
                    }
                </div>
                <div class="card-footer">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="btn btn-light">Yorum Yap</button><button class="btn btn-danger">Beğen</button>
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne_@item.Id" aria-expanded="false" aria-controls="flush-collapseOne_@item.Id">
                                    Yorumlar
                                </button>
                            </h2>

                            @foreach (var comment in item.CommentList.Where(x => x.TopCommentId == 0))
                            {<div id="flush-collapseOne_@item.Id" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample_@comment.Id">
                                    <div class="accordion-body">
                                        <div class="accordion accordion-flush" id="accordionFlushExample_@item.Id">

                                            <div class="accordion-item">
                                                <h2 class="accordion-header">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne_@comment.Id" aria-expanded="false" aria-controls="flush-collapseOne_@comment.Id">
                                                        @comment.Comment
                                                    </button>
                                                </h2>
                                                <div id="flush-collapseOne_@comment.Id" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample3">
                                                    <div class="accordion-body">
                                                        <div class="accordion accordion-flush" id="accordionFlushExample3">

                                                            @foreach (var answer in item.CommentList.Where(x => x.TopCommentId == comment.Id))
                                                            {
                                                                <div class="accordion-item">
                                                                    <h2 class="accordion-header">
                                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne3" aria-expanded="false" aria-controls="flush-collapseOne">
                                                                            @answer.Comment
                                                                        </button>
                                                                    </h2>
                                                                    <div id="flush-collapseOne3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample3">
                                                                        <div class="accordion-body"></div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            }
                        </div>

                    </div>
                </div>

            </div>
        </div>
    }
</div>