@model IEnumerable<CoreLayer.Dtos.Shared.SharedListDto>

<div class="row">
    <fieldset style="border:1px solid black;border-radius:10px; margin-top:15px">
        <legend style="border:1px solid black; margin-top:10px;text-align:center;padding:20px;background-color:cornflowerblue;border-radius:10px">Yeni Paylaşım Oluştur</legend>

            <label for="title">Başlık</label>
            <input type="text" class="form-control" id="title" name="Title" />
            <br />
            <label for="file">Dosya Seç</label>
            <input type="file" id="file" class="form-control" name="File"/>
        <br/>
            <label for="description">Açıklama</label>
            <textarea class="form-control" rows="4" name="Description" id="description">
</textarea>
            <br />
        <label for="IsActive">Yayınla</label>
        <input type="checkbox" class="form-check" name="IsActive" id="isActive"/>
            <input type="submit" class="btn btn-primary mb-3" value="Paylaş" onclick="AddNewShared()" />

    </fieldset>
</div>
<div class="row mt-4">
    <h4>Önceki Gönderiler</h4>
    @foreach (var item in Model)
    {
        <div class="col-8 offset-2 mt-3">
            <div class="card">
                <div class="card-header">
                    <a href="#">@item.Username</a>    @item.Title
                </div>
                <div class="card-body" style="text-align:center">
                    @if (item.Type == CoreLayer.Enum.EFileType.Text)
                    {
                        <p>
                            @item.Description
                        </p>
                    }
                    else if (item.Type == CoreLayer.Enum.EFileType.Image)
                    {
                        <img src="~/Content/images/@item.Path" width="100%" height="200" />
                    }
                    else if (item.Type == CoreLayer.Enum.EFileType.Video)
                    {
                        <video width="360" height="320" controls="controls">
                            <source src="~/Content/videos/@item.Path" type="video/mp4" />
                        </video>
                    }
                </div>
                <div class="card-footer">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="btn btn-light">Yorum Yap</button><button class="btn btn-danger">Beğen</button>
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne_@item.Id" aria-expanded="false" aria-controls="flush-collapseOne_@item.Id">
                                    Yorumlar
                                </button>
                            </h2>

                            @foreach (var comment in item.CommentList.Where(x => x.TopCommentId == 0))
                            {<div id="flush-collapseOne_@item.Id" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample_@comment.Id">
                                    <div class="accordion-body">
                                        <div class="accordion accordion-flush" id="accordionFlushExample_@item.Id">

                                            <div class="accordion-item">
                                                <h2 class="accordion-header">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne_@comment.Id" aria-expanded="false" aria-controls="flush-collapseOne_@comment.Id">
                                                        @comment.Comment
                                                    </button>
                                                </h2>
                                                <div id="flush-collapseOne_@comment.Id" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample3">
                                                    <div class="accordion-body">
                                                        <div class="accordion accordion-flush" id="accordionFlushExample3">

                                                            @foreach (var answer in item.CommentList.Where(x => x.TopCommentId == comment.Id))
                                                            {
                                                                <div class="accordion-item">
                                                                    <h2 class="accordion-header">
                                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne3" aria-expanded="false" aria-controls="flush-collapseOne">
                                                                            @answer.Comment
                                                                        </button>
                                                                    </h2>
                                                                    <div id="flush-collapseOne3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample3">
                                                                        <div class="accordion-body"></div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            }
                        </div>

                    </div>
                </div>

            </div>
        </div>
    }
</div>