@model Tuple<IEnumerable<CoreLayer.Dtos.Shared.SharedListDto>, IEnumerable<CoreLayer.Dtos.User.RecommendedPeopleDto>> 
@{
    ViewBag.Title = "Anasayfa";
}

<style>
    section{
        display:grid;
        grid-template-columns:75% 25%;
        margin-top:50px
    }
</style>
<section>
    <article>
        @foreach (var item in Model.Item1)
        {
            <div class="card mt-4 w-75 m-auto">
                <div class="card-header">
                  <a href="">@item.Username</a>  | <h4>@item.Title</h4>
                </div>
                <div class="card-body">
                    <img src="@item.Path" width="90%" height="200"/>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
                        </svg>
                        Beğen @item.LikeCount
                    </button>
                    <button type="button" class="btn btn-outline-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-heading" viewBox="0 0 16 16">
                            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"></path>
                            <path d="M3 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1z"></path>
                        </svg>
                        Yorum
                    </button>
                    <button type="button" class="btn btn-dark">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
                            <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"></path>
                        </svg>
                        Paylaş
                    </button>
                </div>
            </div>
        }
    </article>
    <aside style="text-align:right">
        <h3 >Önerilen Kişiler</h3>
        <hr />
        <ul style="list-style-type:none">
            @foreach (var item in Model.Item2)
            {
                <li >
                    @item.Username <button class="btn btn-primary ml-2">Takip Et</button>
                </li>
            }
        </ul>
    </aside>
</section>